// Remove nav border
.VPNavBar {
  border-bottom: none !important;
}

// No content-body transition (background-color fix)
.VPNavBar .content-body {
  transition: none !important;
}

// Correct max logo height
.VPNavBarTitle img.logo {
  height: 34px;
}

// Fix enormous line-height of navbar items
.VPNavBarMenu .VPNavBarMenuLink {
  min-height: var(--vp-nav-height-mobile);
  line-height: 1.32;
  @media (min-width: 960px) {
    min-height: var(--vp-nav-height-desktop);
  }
}

// Don't clip text in the outline
.VPDocAsideOutline .outline-link {
  white-space: normal;
  text-overflow: initial;
  padding: 5px 0;
  font-size: 13px;
  line-height: 18px;
}

// We would like to have single pages in the sidebar (e.g. API Reference, Enterprise).
// VitPress expects to have you section title text + items and when you only have one item it looks like there are extra spacing.
// These styles are to adjust spacing between groups. 
#VPSidebarNav .group {
  padding-bottom: 11px;
}

#VPSidebarNav .group+.group {
  margin-top: 0px;
}

.VPSidebarGroup.collapsed {
  margin-bottom: 11px;
}

.VPSidebarGroup.collapsible.collapsed .items {
  margin-bottom: -14px;
}

// Move search away from logo
.VPNavBarSearch.search {
  justify-content: flex-end;
  margin-right: 32px;
}

// --------------------------------
// Customize Navs
// --------------------------------
// -- Content

// Reduce .VPContent's dependency on calculated sizes
.VPContent.has-sidebar {
  @media (min-width: 960px) {
    padding-left: calc(var(--vp-sidebar-width) + 16px) !important;
  }
  @media (min-width: 1440px) {
    padding-right: 0 !important;
  }
}

// Fill in space to accommodate Sidebar's width changes
.VPDoc.has-sidebar.has-aside {
  @media (min-width: 960px) and (max-width: 1500px) {
    padding-left: 0;
  }
}

// Increase body content width if space available.
.VPDoc.has-aside .content-container {
  max-width: 820px !important;
}

.VPDoc.has-sidebar.has-aside .container > .content {
  @media (min-width: 1500px) {
    padding-left: 52px;
    padding-right: 52px;
  }
}

// New body styles
.vp-doc p {
  margin: 24px 0;
  font-size: 15px;
  line-height: 1.8;
}

.vp-doc p a {
  display: inline-block;
}

.vp-doc pre code {
  font-size: 12.5px !important;
}

.vp-code-group .tabs label {
  font-size: 13px !important;
  font-weight: 600;
}

.vp-doc div[class*='language-'] {
  margin: 32px 0 40px;
}

.vp-doc .header-anchor {
  @media (min-width: 960px) {
    position: absolute;
    left: -28px;
    padding: 0 18px;
    transform: scale(0.94);
  }
}

// --------------------------------
// -- Top

// Remove extraneous fade elements
.VPNavBar .curtain {
  display: none;
}

// Correct width on non-docs pages
.VPNavBar .container {
  max-width: unset;
}

// Semi-transparent background above content
.VPNavBar .content-body {
  background-color: rgba(255,255,255,0.8) !important;
  backdrop-filter: blur(6px);
  :root.dark & {
    background-color: rgba(7,8,11,0.8) !important;
  }
}

// Size according to Sidebar width to limit zone affected by nav overlay
.VPNavBar.has-sidebar .content {
  --vp-sidebar-width: 320px;
  padding-left: var(--vp-sidebar-width) !important;
  padding-right: 32px !important;
  @media (max-width: 960px) {
    --vp-sidebar-width: 32px;
    padding-right: 0 !important;
  }
}

// Position title/logo to hug left
.VPNavBar.has-sidebar .title {
  padding-left: 16px !important;
  border-bottom: none;
  @media (max-width: 960px) {
    padding-left: 0 !important;
  }
}

// Restyle top NavBarMenu links
.VPNavBarMenu.menu {
  height: calc(100% - 16px);
}

.VPNavBarMenu.menu a {
  font-size: 13px;
  margin: 0 4px;
  opacity: 0.8;
  transition-duration: 0.1s;
  transition-property: color, opacity, box-shadow;
  opacity: 0.7;
  &:hover:not(.active) {
    opacity: 1;
    color: var(--vp-c-text-1);
  }
}

.VPNavBarMenuLink.active {
  color: var(--vp-c-text-1) !important;
  box-shadow: inset 0 -1px 0 0 var(--vp-c-brand);
  opacity: 1 !important;
}

// --------------------------------
// -- Sidebar

// Use empty space in docs navs more effectively.
// Using existing default fallback styles where possible to negate calc()-type sizes.
.VPSidebar {
  --active-indicator-padding: 16px;
  --vp-sidebar-width: 308px;
  --vp-new-padding: calc(32px - var(--active-indicator-padding));
  padding-left: var(--vp-new-padding) !important;
  padding-right: var(--vp-new-padding) !important;
  padding-bottom: 32px !important;
  width: var(--vp-sidebar-width) !important;
  @media (max-width: 1500px) {
    --vp-sidebar-width: 272px;
  }
  @media (max-width: 960px) {
    --vp-sidebar-width: 308px;
  }
}
// Allow .VPLink to take up all horizontal space available
#VPSidebarNav .group {
  @media (min-width: 960px) {
    width: unset;
  }
}
#VPSidebarNav.nav {
  margin-top: 8px;
}
  // Hide extraneous visual elements when parent group is collapsed
// without messing with individual elements themselves. 
.VPSidebarGroup.collapsed .items {
  opacity: 0;
}
// Align item group container's collapsed border with child item list's
// first item's top border/box-shadow.
.VPSidebarGroup.collapsible:not(.collapsed) .items {
  margin-top: 9px;
}
// Align group title with item links
.VPSidebarGroup .title {
  padding-left: var(--active-indicator-padding);
}
// Ignore top nav and mobile nav
.VPLink:not(.VPNavBarMenuLink):not(.VPNavScreenMenuLink) {
  line-height: 1.1;
  // New link styles
  &.link {
    margin: 0;
    padding: 9px var(--active-indicator-padding) !important;
    transition-duration: 0.1s;
    transition-property: background-color, box-shadow, color;
    &.active {
      position: relative;
      color: var(--vp-c-text-1);
      box-shadow: inset 0 0 0 1px rgba(0,0,0,0.08);
      border-radius: 8px;
      background-color: #fff;
      :root.dark & {
        box-shadow: inset 0 0 0 1px rgba(255,255,255,0.08);
        background-color: var(--vp-c-bg);
      }
    }
  }
}
.link-text {
  font-size: 13px !important;
  line-height: 1.32 !important;
}

// --------------------------------
// -- Aside / Table of Contents

// Widen aside
.VPDoc .aside {
  padding-left: 0;
  @media (min-width: 1380px) {
    max-width: 248px;
  }
  @media (min-width: 1500px) {
    max-width: 300px;
  }
  @media (min-width: 1600px) {
    max-width: 328px;
  }
}

// Add gap between title and list, but account for hardcoded `outline-marker` `top`
.VPDocAside .outline-title {
  margin-block-end: -1px;
  transform: translateY(-6px);
}

// Space out links without affecting `outline-marker` too much
.VPDocAside .outline-link {
  padding: 6px 0;
  font-size: 12.5px;
}


// --------------------------------
// Custom Blocks

.vp-doc .custom-block {
  margin: 44px 0;
  padding: 32px 32px;
  padding-left: 72px;
  border: none;
  border-radius: 8px;
  box-shadow:
    inset 0 0 0 1px var(--block-border-color),
    inset 40px 92px 64px -40px rgba(255,255,255,0.6);

  @media (max-width: 500px) {
    padding-left: 18px;
    padding-right: 18px;
  }

  &:not(:root.dark &) {
    --vp-custom-block-tip-bg: rgb(246, 252, 250);
    --vp-custom-block-tip-border: rgba(0, 136, 120, 0.5);
    --vp-custom-block-tip-text: rgb(0, 125, 111);
    --vp-custom-block-warning-text: rgb(202, 135, 0);
    --vp-custom-block-warning-border: rgb(255, 200, 0);
  }
  :root.dark & {
    --vp-custom-block-tip-text: hsl(165 100% 60%);
    --vp-custom-block-tip-border: hsl(172, 100%, 19%);
    --vp-custom-block-warning-text: rgb(255, 183, 0);
    box-shadow:
      inset 0 0 0 1px var(--block-border-color),
      inset 40px 92px 84px -40px rgba(0,0,0,0.6);
  }

  &.info {
    --block-border-color: var(--vp-custom-block-info-border);
    --block-icon-color: var(--vp-custom-block-info-text);
  }
  &.tip {
    --block-border-color: var(--vp-custom-block-tip-border);
    --block-icon-color: var(--vp-custom-block-tip-text);
  }
  &.warning {
    --block-border-color: var(--vp-custom-block-warning-border);
    --block-icon-color: var(--vp-custom-block-warning-text);
  }
  &.danger {
    --block-border-color: var(--vp-custom-block-danger-border);
    --block-icon-color: var(--vp-custom-block-danger-text);
  }
  &.details {
    --block-border-color: var(--vp-custom-block-details-border);
    --block-icon-color: var(--vp-custom-block-details-text);
  }
}

h2 + .custom-block {
  margin-top: 32px !important;
}

.vp-doc h2 {
  padding-top: 0;
}

.vp-doc .custom-block p {
  margin: 2px 0 0;
  font-size: 14px;
  line-height: 1.8;
  
  &.custom-block-title {
    position: relative;
    margin-bottom: 8px;
    @media (max-width: 500px) {
      margin-left: 42px;
      margin-bottom: 14px;
    }
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: -44px;
      width: 24px;
      height: 24px;
      background-color: var(--block-icon-color);
      -webkit-mask-image: url('/icons/fa-gear.svg');
      mask-image: url('/icons/fa-gear.svg');
      @media (max-width: 500px) {
        left: -40px;
      }
    }
  }
}

.vp-doc .custom-block p:not(.custom-block-title),
.vp-doc .custom-block ol,
.vp-doc .custom-block ul {
  color: var(--vp-c-text-1);
}
.vp-doc .custom-block ol,
.vp-doc .custom-block ul {
  margin: 12px 0;
}

.vp-doc .custom-block a {
  transition-duration: 0.1s;
}

.vp-doc .custom-block ul {
  margin-bottom: 0;
}

.vp-doc .custom-block div[class*='language-'] {
  margin: 24px 0;
  &:last-child {
    margin-bottom: 0;
  }
}
