// Remove nav border
.VPNavBar {
  border-bottom: none !important;
}

// No content-body transition (background-color fix)
.VPNavBar .content-body {
  transition: none !important;
}

// Correct max logo height
.VPNavBarTitle img.logo {
  height: 34px;
}

// Fix enormous line-height of navbar items
.VPNavBarMenu .VPNavBarMenuLink {
  min-height: var(--vp-nav-height-mobile);
  line-height: 1.32;
  @media (min-width: 960px) {
    min-height: var(--vp-nav-height-desktop);
  }
}

// Don't clip text in the outline
.VPDocAsideOutline .outline-link {
  white-space: normal;
  text-overflow: initial;
  padding: 5px 0;
  font-size: 13px;
  line-height: 18px;
}

// We would like to have single pages in the sidebar (e.g. API Reference, Enterprise).
// VitPress expects to have you section title text + items and when you only have one item it looks like there are extra spacing.
// These styles are to adjust spacing between groups. 
#VPSidebarNav .group {
  padding-bottom: 11px;
}

#VPSidebarNav .group+.group {
  margin-top: 0px;
}

.VPSidebarGroup.collapsed {
  margin-bottom: 11px;
}

.VPSidebarGroup.collapsible.collapsed .items {
  margin-bottom: -14px;
}

// Move search away from logo
.VPNavBarSearch.search {
  justify-content: flex-end;
  margin-right: 32px;
}

// --------------------------------
// Customize Navs
// --------------------------------
// -- Content

// Reduce .VPContent's dependency on calculated sizes
.VPContent.has-sidebar {
  @media (min-width: 960px) {
    padding-left: calc(var(--vp-sidebar-width) + 16px) !important;
  }
  @media (min-width: 1440px) {
    padding-right: 0 !important;
  }
}

// Increase body content width if space available.
.VPDoc.has-aside .content-container {
  max-width: 860px !important;
}

// New paragraph styles (effectively docs body text)
.vp-doc p {
  margin: 24px 0;
  font-size: 15px;
  line-height: 1.94;
}

// Correct full-width transparent links for small content.
.vp-doc p a {
  display: inline-block;
}

.vp-doc code {
  font-size: 12.5px !important;
}

.vp-code-group .tabs label {
  font-size: 13px !important;
  font-weight: 600;
}

// --------------------------------
// -- Top

// Remove extraneous fade elements
.VPNavBar .curtain {
  display: none;
}

// Semi-transparent background above content
.VPNavBar .content-body {
  background-color: rgba(255,255,255,0.8) !important;
  backdrop-filter: blur(6px);
  :root.dark & {
    background-color: rgba(7,8,11,0.8) !important;
  }
}

// Size according to Sidebar width to limit zone affected by nav overlay
.VPNavBar.has-sidebar .content {
  --vp-sidebar-width: 320px;
  padding-left: var(--vp-sidebar-width) !important;
  @media (max-width: 960px) {
    --vp-sidebar-width: 32px;
  }
}

// Position title/logo to hug left
.VPNavBar.has-sidebar .title {
  padding-left: 16px !important;
  border-bottom: none;
  @media (max-width: 960px) {
    padding-left: 0 !important;
  }
}

// --------------------------------
// -- Sidebar

// Use empty space in docs navs more effectively.
// Using existing default fallback styles where possible to negate calc()-type sizes.
.VPSidebar {
  --active-indicator-padding: 16px;
  --vp-sidebar-width: 320px;
  --vp-new-padding: calc(32px - var(--active-indicator-padding));
  padding-left: var(--vp-new-padding) !important;
  padding-right: var(--vp-new-padding) !important;
  padding-bottom: 32px !important;
  width: var(--vp-sidebar-width) !important;
  @media (max-width: 1280px) {
    --vp-sidebar-width: 272px;
  }
}
// Allow .VPLink to take up all horizontal space available
#VPSidebarNav .group {
  @media (min-width: 960px) {
    width: unset;
  }
}
#VPSidebarNav.nav {
  margin-top: 8px;
}
  // Hide extraneous visual elements when parent group is collapsed
// without messing with individual elements themselves. 
.VPSidebarGroup.collapsed .items {
  opacity: 0;
}
// Align item group container's collapsed border with child item list's
// first item's top border/box-shadow.
.VPSidebarGroup.collapsible:not(.collapsed) .items {
  margin-top: 9px;
}
// Align group title with item links
.VPSidebarGroup .title {
  padding-left: var(--active-indicator-padding);
}
// Ignore top nav and mobile nav
.VPLink:not(.VPNavBarMenuLink):not(.VPNavScreenMenuLink) {
  line-height: 1.1;
  // New link styles
  &.link {
    margin: 0;
    padding: 9px var(--active-indicator-padding) !important;
    transition-duration: 0.1s;
    transition-property: background-color, box-shadow, color;
    &.active {
      position: relative;
      color: var(--vp-c-text-1);
      box-shadow: inset 0 0 0 1px rgba(0,0,0,0.08);
      border-radius: 8px;
      background-color: #fff;
      :root.dark & {
        box-shadow: inset 0 0 0 1px rgba(255,255,255,0.08);
        background-color: var(--vp-c-bg);
      }
    }
  }
}
.link-text {
  font-size: 13px !important;
  line-height: 1.32 !important;
}

// --------------------------------
// -- Aside / Table of Contents

// Widen aside
.VPDoc .aside {
  @media (min-width: 1380px) {
    max-width: 280px;
  }
  @media (min-width: 1500px) {
    max-width: 332px;
  }
  @media (min-width: 1600px) {
    max-width: 360px;
  }
}

// Add gap between title and list, but account for hardcoded `outline-marker` `top`
.VPDocAside .outline-title {
  margin-block-end: -1px;
  transform: translateY(-6px);
}

// Space out links without affecting `outline-marker` too much
.VPDocAside .outline-link {
  padding: 6px 0;
  font-size: 12.5px;
}